div#edit-form.form-full-width(data-role="fieldcontain")
    #participant-name-wrapper
        p Please provide a valid email address for your participant.
        input#participant-name(data-theme="b", type="text", name="participant-name", placeholder="Name")
    p
        input#participant-email(data-theme="b",type="text",name="participant-email",placeholder="Type a name or email")
    ul.suggestions(data-role="list-view",data-inset="true")
    div.controls
        a#submitAddParticipant(data-theme="b", type="button") Add participant

