div#edit-form.form-full-width(data-role="fieldcontain")
    #participant-name-wrapper
        p Contact not found, create a new contact by giving a name.
        input#participant-name(data-theme="b", type="text", name="participant-name", placeholder="Name")
    p
        input#participant-email(data-theme="b",type="text",name="participant-email",placeholder="Type a name or email")
    div.controls
        a#submitAddParticipant(data-theme="b", type="button") Add participant

