div#edit-form(data-role="fieldcontain")
    input#meeting-participant(data-theme="b",type="text",name="meeting-participant",placeholder="Type a name or email")
    div.controls
        a#submitAddParticipant(data-theme="b", type="button") Add participant

