div.logo
    h1.meetings-logo
    div.centered
        h2 DOWNLOAD MEETIN.GS FOR MOBILE
        ul
            li Schedule &amp; keep up with meetings
            li Share materials and comments
    if(type == 'iphone')
        a.button(data-theme="b",data-role="button",href="http://bit.ly/meetings-app",target="_blank") Download for iPhone
    else
        a.button(data-theme="b",data-role="button",href="http://bit.ly/meetings-android",target="_blank") Download for Android

    a.skip(href="#") Skip

