div.logo
    h1.meetings-logo
    div.centered
        h2 Get the app for your device
        ul
            li Organize & keep up to date with meetings
            li Share materials and collaborate with participants
            li Get notified of important updates instantly
    if(type == 'iphone')
        a.button(data-theme="b",data-role="button",href="http://bit.ly/meetings-app",target="_blank") Download for iPhone
    else
        a.button(data-theme="b",data-role="button",href="http://bit.ly/meetings-android",target="_blank") Download for Android

    a.skip(href="#") Skip

