div(data-role="header",data-id="header",data-position="fixed",data-theme="d",data-tap-toggle="false")
    h1 
    a.allow-access-done.ui-btn-right( href="#",data-theme="b") Done

div#calendar-sync.main-div(data-role="content")
    div.connectivity
    div.loader
        span.loader
    div.content
        div.content
            h3 Please allow calendar access
            p In order to sync meetings with your iPhone, you should enable calendar access by following the steps below.

            ol#calendar-access-steps
                li.step-settings Open iPhone Settings
                li.step-privacy Tap Privacy
                li.step-calendar Tap Calendars
                li.step-meetings Set "Meetin.gs" to ON
