div#comment-box
    div.left
        div.container
            textarea#comment-input(data-role="none",rows="1",placeholder="Write a comment")
    div.right
        a.send-comment(data-role="none",data-enhance="false",href="#") Send
