h3 Are you sure?
p="Choose " + time + " for the meeting. We will immediately notify all participants."
a#confirm-option(data-theme="b", type="button") Save and notify
a.reset(data-theme="a", type="button") Cancel
