div#create-form(data-role="fieldcontain")
    input#meeting-date(data-theme="b",type="date",name="meeting-data",value=date_string,placeholder="Starts")
    div.controls
        a#submitStepDateAndTimeFinish(data-theme="b", type="button") Continue
