div#create-form(data-role="fieldcontain")
    input#meeting-title(data-theme="b",type="text",name="meeting-title",value="",placeholder="Meeting title")
    div.controls
        a.continue(data-theme="b", type="button") Continue


