ul#errors
div#create-form(data-role="fieldcontain")
    input#meeting-location(data-theme="b",type="text",name="meeting-location",value=location,placeholder="Meeting location")
    div.controls
        a#submitStep2.continue(data-theme="b", type="button") Continue
    p.separator OR
    div.controls
        a#submitStep2.continue(data-theme="b", type="button") Meeting is online


