ul#errors
div#create-form(data-role="fieldcontain")
    input#meeting-title(data-theme="b",type="text",name="meeting-title",value=title,placeholder="Meeting title")
    div.controls
        a#submitStep1.continue(data-theme="b", type="button") Continue


