div#edit-form.form-full-width(data-role="fieldcontain")
    div.controls
        a#submitStepDateAndTimeSetup(data-theme="b", type="button") Set date & time
    p.separator OR
    div.controls
        a#submitStepDateAndTime(data-theme="b", type="button") Time not known


