ul#side-bar(data-role="listview",data-theme="c")
    li
        a#nav-edit(href="#", data-transition="fade")
            i.icon-edit
            | Edit
    li
        a#nav-rename(href="#",data-transition="fade")
            i.icon-rename
            | Rename
    - if( locals.download_url )
        li
            a#nav-download(href="#",data-transition="fade")
                i.icon-download
                | Download
    - if( locals.creator_id  === app.auth.user )
        li
            a#nav-remove(href="#",data-transition="fade")
                i.icon-delete
                | Remove
