div#edit-form(data-role="fieldcontain")
    input#meeting-skype-address(data-theme="b",type="text",name="skype-address",value=skype_account,placeholder="Skype name")
    div.controls
        a#submitStepSkypeName(data-theme="b", type="button") Continue


