ul#side-bar(data-role="listview",data-theme="c")
    li
        a#nav-edit-title(href="#", data-transition="fade")
            span.ui-icon.menu-icon-edit
            | Edit title
    if( ! matchmaking_event_name )
        li
            a#nav-edit-location(href="#",data-transition="fade")
                span.ui-icon.menu-icon-editlocation
                | Edit location
        li
            a#nav-edit-time(href="#",data-transition="fade")
                span.ui-icon.menu-icon-edittime
                | Edit time
    - if( locals.creator_id === app.auth.user )
        li
            a#nav-remove(href="#",data-transition="fade")
                span.ui-icon.menu-icon-remove
                | Remove
