div#edit-form.form-full-width(data-role="fieldcontain")
    - var l = location === 'Location not known' ? '' : location
    input#meeting-location(data-theme="b",type="text",name="meeting-location",value=l,placeholder="Meeting location")
    div.controls
        a#submitStepLocation(data-theme="b", type="button") 
            - if(id != null)
                | Save
            - else
                | Continue        
    p.separator OR
    div.controls
        a#submitStepLocationOnline(data-theme="b", type="button") Meeting is online


