div#edit-form.form-full-width(data-role="fieldcontain")
    p Choose live communication tool:
    div.controls.ui-grid-a
        .ui-block-a
            a#submitStepCommunicationsSkype(data-theme="b", data-role="button")
                span.ui-icon.ui-icon-mtngs-skype-white(style="display: inline-block;")
                | Skype
        .ui-block-b
            a#submitStepCommunications(data-theme="b", data-role="button")
                span.ui-icon.ui-icon-mtngs-cross-white(style="display: inline-block;")
                | None
