div#edit-form.form-full-width(data-role="fieldcontain")
    p Choose live communication tool:
    div.controls.ui-grid-a
        .ui-block-a
            a#submitStepCommunicationsSkype(data-theme="b", data-role="button")
                i.icon-teleconf
                | Skype
        .ui-block-b
            a#submitStepCommunications(data-theme="b", data-role="button")
                i.icon-cross
                | None
