div#edit-form.form-full-width(data-role="fieldcontain")
    input#meeting-skype-account(data-theme="b",type="text",name="skype-account",value=skype_account,placeholder="Skype account to call")
    div.controls
        a#submitStepSkypeName(data-theme="b", type="button") 
            - if(id != null)
                | Save
            - else
                | Continue



