div(data-role="footer",data-position="fixed",data-id="meeting-footer",data-theme="c",data-tap-toggle="false")
    div(data-role="navbar",data-grid="a").meeting-navbar
        ul
            li
                a#nav-meetings(href="index.html",data-icon="custom",data-transition="fade") Meetings
            li
                a#nav-settings(href="settings.html",data-icon="custom",data-transition="fade") Settings
