a(href='meeting.html?id='+id)
    - if(highlight.type == 'add_agenda' || highlight.type == 'set_title') 
        i.task-icon.icon-edit
    - else if(highlight.type == 'suggest_dates')
        i.task-icon.icon-calendar
    - else if(highlight.type == 'confirm_time')
        i.task-icon.icon-time
    - else if(highlight.type == 'set_location')
        i.task-icon.icon-location
    - else
        i.task-icon.icon-add
    span.message=highlight.message + ': '
    span.title=title
