h1.meetings-logo
div#login-form.ui-hide-label(data-role="fieldcontain")
    input#email(data-theme="b",type="text",name="email",value="",placeholder="Email")
    a.login(data-theme="b", type="button") Request login link
    p(style="text-align:center;") OR
    a.register(data-theme="b", type="button") Register new account
