h1.meetings-logo
div.ui-hide-label(data-role="fieldcontain")
    input#email(data-theme="b",type="text",name="email",value="",placeholder="Email")
    input.login(data-theme="b",type="button",value="Log in")
