div(data-role="header",data-id="header",data-position="fixed",data-theme="d",data-tap-toggle="false",data-tap-toggle="false")
    a.rename-material-cancel( href="#",data-theme="b") Cancel
    h1 Rename Material

div.main-div(data-role="content")
    div.loader
        span.loader
    div.content
        div.content
            div#edit-form.form-full-width(data-role="fieldcontain")
                input#material-title(data-theme="b",type="text",name="material-title",value=model.title,placeholder="Title")
                div.controls
                    a.rename-material-save(data-theme="b", type="button") Save
