div(data-role="header",data-id="meeting-header",data-position="fixed",data-theme="d",data-tap-toggle="false",data-tap-toggle="false")
    a.edit-material-cancel( href="#",data-theme="b") Cancel
    h1 Edit Material
    a#edit-material-save(href="#",data-theme="b") Save

div.main-div(data-role="content")
    div.loader
        span.loader
    div.content
        div.material_content
            - if ( error_message )
                p=error_message
            - else
                textarea=model.content
         
