a(href='material.html?id='+material_id)
    - if ( fetch_type === 'image' )
        span.material-imag.ui-li-thumb.ui-corner-tle
    - else if ( fetch_type === 'text' )
        span.material-tex.ui-li-thumb.ui-corner-tlt
    - else
        span.material-other.ui-li-thumb.ui-corner-tl
    h3=title
    -if ( author_name !== '' )
        p='By ' + author_name + ' ' + time_ago
