a(href=)
    - if ( fetch_type === 'media' )
        span.material-image.ui-li-thumb.ui-corner-tl
    - else if ( fetch_type === 'page' )
        span.material-text.ui-li-thumb.ui-corner-tl
    - else
        span.material-other.ui-li-thumb.ui-corner-tl
    h3=title
    -if ( author_name !== '' )
        p='By ' + author_name + ' ' + moment.unix(created_epoch).fromNow()
    span.ui-li-count=comment_count
