div#meetme-confirmed
    p= locals.accepter_name + ' will now accept or decline your request. We will send you a notification when we have a response.'
    if( title )
        p.info.first='Title: ' + title
    p.info='When: '+ times_string
    - if( locals.location )
        p.info='Where: '+ location
    if ( navigator.userAgent.match(/iPad/i) != null || navigator.userAgent.match(/iPhone/i) != null )
        p Stay up to date regarding the meeting:
        a(href="http://bit.ly/meetings-app",target="_blank",data-role="button",data-theme="b") Download iPhone app
    if( ! quickmeet_key )
        a(href="/",data-role="button",data-theme="a") View my meetings
