div#meetme-cover
    div.top
        h1=user.name
        - var ts = ( user.organization_title && user.organization ) ? user.organization_title + ', ' + user.organization : user.organization_title + user.organization;
        p=ts
    div.middle
        div.border
            div.wrapper
                // TODO :fix def image
                img(src=user.image || '/images/meetings/new_profile.png')
        a.meet-me(data-role="button",data-theme="b")
            i.icon-emblem
            | Meet Me
        div.box=matchmaker.description

