div#meetme-confirmed
    h1 Check your inbox to complete your meeting request
    p 
        | We have sent you an email to 
        span.bold=locals.primary_email 
        =' from '
        span.bold info@meetin.gs
        | .
    p Open the email and confirm your request to meet by following the link in the email. If you have not received the email, please check your spam folder.

    p You have 60 minutes to confirm, after which the reservation we're holding will be released to others.
