a.open-add-meeting-view(href="#", data-theme="b", data-icon="mtngs-add-meeting", data-role="button") Add a meeting
a.phone-connect-meeting-view(href="#", data-theme="b", data-icon="icon-google", data-role="button") Sync with phone calendar
- if ( ! model.google_connected )
    a.google-connect-meeting-view(href="#", data-theme="b", data-icon="icon-google", data-role="button") Sync with Google Calendar

