a.open-add-meeting-view(href="#", data-theme="b", data-role="button")
    i.icon-add 
    | Add a meeting
a.phone-connect-meeting-view(href="#", data-theme="b", data-role="button") 
    i.icon-calendar
    | Sync with phone calendar
- if ( ! model.google_connected )
    a.google-connect-meeting-view(href="#", data-theme="b", data-role="button")
        i.icon-google
        | Sync with Google Calendar


