- if ( false && showPhoneConnect )
    a.phone-connect-meeting-view(href="#", data-theme="b", data-role="button") 
        | Sync from phone calendar
- if ( ! model.google_connected )
    a.google-connect-meeting-view(href="#", data-theme="b", data-role="button")
        | Sync from Google Calendar


