a.open-add-meeting-view(href="#", data-theme="b", data-role="button")
    i.icon-add 
    | Add a meeting
- if ( false && showPhoneConnect ) //showPhoneConnect
    a.phone-connect-meeting-view(href="#", data-theme="b", data-role="button") 
        i.icon-calendar
        | Sync from phone calendar
- if ( ! model.google_connected ) // ! model.google_connected 
    a.google-connect-meeting-view(href="#", data-theme="b", data-role="button")
        i.icon-google
        | Sync from Google Calendar


