a(href=show_url)
    - if( image )
        img(src=image,width='60').mtngs-profile-image
    - else
        span.placeholder-60.mtngs-profile-image.ui-li-thumb
    h3=name
    p=organization
    - if ( rsvp === 'yes' )
        p.rsvp.attending Attending
    - else if( rsvp === 'no' )
        p.rsvp.noshow Not attending
    - else
        p.rsvp.unknown Not answered
