div.scheduling-answer
    - if( user_answered )
        p
            a.answer-scheduling(data-theme="b",href="#") Change scheduling answers
    - else
        p
            a.answer-scheduling(data-role="button",data-theme="b",href="#") Tap to answer scheduling
    - if( creator == 1)
        - if( all_answered )
            p
                a.choose-date(data-role="button",data-theme="b",href="#") Choose the time
        - else
            p
                a.choose-date(data-theme="b",href="#") Choose the time
