h3 About
p  Meetin.gs is a web and mobile meeting organizer for making the exchange around online
    |and face-to-face meetings more effective and productive. To setup new meetings,
    |use our desktop browser version.
a.logout(data-theme='b',data-role='button',href='#') Log Out

