h2 A friendly warning
if( message )
    p=message
else
    p The requested feature is not yet fully compliant with mobile devices. We advice you to proceed on a desktop computer. Thank you for your patience!
a.proceed(href='#',data-role='button',data-theme='b') Proceed anyway
