<div class="main-div ui-content" data-role="content" role="main">
div.main-div.ui-content(data-role="content",role="main")
    h3 Sorry
    p The mobile site is designed to work with modern browsers. Please update to Chrome, Firefox, Safari or Opera.
    p
        a(href=app.defaults.desktop_link) Switch to desktop version
