@mixin retina-bg($file, $type, $width, $height) {
  background-image: url($file + '.' + $type);

  @media (-webkit-min-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2) {
    & {
      background-image: url($file + '@2x.' + $type);
      -webkit-background-size: $width $height;
    }
  }
}

@import "jqm","theme";

/* H3 and UL close to the top of the content */
.ui-content h3:first-child, .ui-content ul:first-child{
    margin-top:0px;
}
/* Rule to not truncate stuff */
.notruncation, ul#comments .ui-li-desc, ul#comments .ui-li-heading{
    white-space: normal !important;
}

// Add grid background
div.ui-page{
    @include retina-bg('/images/mobile_bg', 'png', 3px, 3px);
    background-repeat:repeat
}

// Shadow to header
div.ui-header{
    -webkit-box-shadow: 0px 0px 4px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 0px 4px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 0px 4px rgba(50, 50, 50, 0.75);
}

// Fix headr button
.ui-header .ui-btn{
    top:5px;
}

// Disable webkit select on the pages where class is set
html.disable-touch-select {
    -webkit-touch-callout: none; /* prevent callout to copy image, etc when tap to hold */
    -webkit-user-select: none; /* prevent copy paste, to allow, change 'none' to 'text' */
}

.meeting-navbar .ui-btn .ui-icon { width: 30px!important; height: 22px!important; margin-left: -15px !important; box-shadow: none!important; -moz-box-shadow: none!important; -webkit-box-shadow: none!important; -webkit-border-radius: 0 !important; border-radius: 0 !important; }
// RSVP answers on meeting page
div.rsvp-answer{
    span.text{
        display:block;
        height:32px;
        margin-left:7px;
    }
    height:80px;
    line-height:40px;
    a{
        line-height:normal;
        text-align:center;
        margin:0px 0px 0px 8px;
        padding:10px;
        height:18px;
        display:inline-block;
        text-decoration:none;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        background: #009f01;
        font-weight: bold;
        color: #ffffff !important;
        text-shadow: 0px 1px 0px #50a4c3;
        border:1px solid #007901;
        background-image: -webkit-gradient(linear, left top, left bottom, from( #00b81e ), to( #008e02 ));
        background-image: -webkit-linear-gradient( #00b81e , #008e02 );
        background-image:    -moz-linear-gradient( #00b81e , #008e02 );
        background-image:     -ms-linear-gradient( #00b81e , #008e02 );
        background-image:      -o-linear-gradient( #00b81e , #008e02 );
        background-image:linear-gradient( #00b81e , #008e02 );
        background-attachment:fixed;
        background-repeat: no-repeat;
    }
    a.not-attending{
        border:1px solid #9f0d07;
        background-image: -webkit-gradient(linear, left top, left bottom, from( #ed2310 ), to( #c90d00 ));
        background-image: -webkit-linear-gradient( #ed2310 , #c90d00 );
        background-image:    -moz-linear-gradient( #ed2310 , #c90d00 );
        background-image:     -ms-linear-gradient( #ed2310 , #c90d00 );
        background-image:      -o-linear-gradient( #ed2310 , #c90d00 );
        background-image:linear-gradient( #ed2310 , #c90d00 );
    }
}

// Scheduling answers on meeting page
div.scheduling-answer{
}

// Scheduling page
div#scheduling{
    h3{
        margin-bottom:5px;
    }
    p.mtngs-location{
        margin: 5px 0px;
    }
}
// Login page stuff
div#login-page{
    position:absolute;
    top:0px;
    bottom:0px;
    width:100%;
    padding:0px;
    .ui-br{
        border:none;
    }
    div.ui-field-contain{
        margin:0 auto;
        margin-top:30px;
        width:268px;
    }
    div.logo{
        text-align:center;
        h1.meetings-logo{
            display:block;
            background-position:top center;
            background-color:transparent;
            background-repeat:no-repeat;
            width:268px;
            height:62px;
            margin:40px auto;
            @include retina-bg('/images/mlogo', 'png', 268px, 62px);
        }
    }
    input#email{
        margin-bottom:15px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
    }
    div.no-mobile-link{
        margin:0 auto;
        text-align:center;
        margin-top:15px;
        width:268px;
    }
}
// Meetings in list view
ul#proposals{
    li{
        margin-bottom:10px;
        span.ui-icon-arrow-r{
            display:none;
        }
        a{
            padding-top:25px !important;
            padding-bottom:4px;
            div.top-bar{
                position:absolute;
                top:0px;
                left:0px;
                width:100%;
                background-color:#eee;
                font-size:11px;
                color:#777;
                font-weight:500;
                height:24px;
                @include retina-bg('/images/checkbox_green', 'png', 17px, 17px);
                background-repeat:no-repeat;
                background-position: 5px 4px;
                span.left{
                    height:24px;
                    line-height:20px;
                    border-left:1px solid #fff;
                    float:left;
                    padding:3px 0 3px 30px;
                }
                span.right{
                    height:24px;
                    line-height:20px;
                    border-right:1px solid #fff;
                    float:right;
                    padding:3px 15px 3px 0;
                }
            }
            div.participants{
                padding-top:5px;
            }
        }
        a.option-no{
            div.top-bar{
                @include retina-bg('/images/checkbox', 'png', 17px, 17px);
            }
        }
        a.option-choose{
            div.top-bar{
                background-image:none;
                span.left{
                    padding-left:15px;
                }
            }
        }
    }
}
ul#proposals li a.option-yes div.top-bar{
    background-color:#d8e6be;
}

// Meetings in list view
ul.meeting-list{
    li{
        a{
            padding-top:25px !important;
            div.top-bar{
                position:absolute;
                top:0px;
                left:0px;
                width:100%;
                background-color:#eee;
                font-size:11px;
                color:#777;
                font-weight:500;
                span.left{
                    border-left:1px solid #fff;
                    float:left;
                    padding:3px 0 3px 15px;
                }
                span.right{
                    border-right:1px solid #fff;
                    float:right;
                    padding:3px 15px 3px 0;
                }
            }
        }
    }
}
ul li.today a div.top-bar{
    background-color:#d8e6be;
}
// Single participant
div#participant{
    img{
        max-width:90%;
    }
    .ui-block-b a:first-child{
        margin-top:1px;
    }
}

// Participant image placeholders
div.participants{
    max-width:92%;
    overflow:hidden;
    min-height:24px;
    div.wrap{
        position:relative;
        margin-right:2px;
        border:1px solid #ccc;
        display:inline;
        float:left;
        font-size:0px;
        span.rsvp{
            position:absolute;
            bottom:0px;
            left:0px;
            width:100%;
            height:4px;
            padding:0px;
            margin:0px;
            border-radius:0px;
        }
        span.unknown{
            background:#EBC113;
        }
        span.yes{
            background:#6FB92F;
        }
        span.no{
            background:#EA504C;
        }
    }
}
span.placeholder-100{
    background-position:top left;
    background-color:transparent;
    width:100px;
    height:100px;
    display:inline-block;
    @include retina-bg('/images/default_user_100', 'png', 100px, 100px);
}
span.placeholder-60{
    background-position:top left;
    background-color:transparent;
    width:60px;
    height:60px;
    display:inline-block;
    @include retina-bg('/images/default_user_60', 'png', 60px, 60px);
}
span.placeholder-30{
    background-position:top left;
    background-color:transparent;
    width:30px;
    height:30px;
    display:inline-block;
    @include retina-bg('/images/default_user_30', 'png', 30px, 30px);
}

span.placeholder-20{
    background-position:top left;
    background-color:transparent;
    width:20px;
    height:20px;
    display:inline-block;
    @include retina-bg('/images/default_user_20', 'png', 20px, 20px);
}

// Main view lists
ul#past,ul#future{
    margin-top:0px;
    li{
        min-height:101px;
        div.ui-btn-inner{
            span.ui-icon-arrow-r{
                top:58px;
            }
        }
    }
    li.end{
        height:30px;
        text-align:center;
    }
}
p.sorry{
    margin-top:25px;
    text-align:center;
    span.sorry-squrre{
        display:inline-block;
        width:200px;
        height:163px;
        background-image:url(/images/sorry_squrre.png);
        background-repeat:no-repeat;
        background-size:200px 163px;
    }
}

// Single material
div#material-container{
    padding-bottom:0px;
    ul{
        margin-bottom:0px;
    }
}
div#material-container.scribd{
    ul li{
        padding-right:0px;
        padding-left:0px;
    }
    h3{
        margin-left:15px;
        margin-right:15px;
    }
    padding-right:0px;
    padding-left:0px;
}
li#material_content{
    padding-left:15px;
    p.ui-li-desc{
        display:inline;
    }
    img{
        max-width:100%;
    }
}
// Comments
ul#comments{
    .ui-li-has-thumb{
        padding-left:70px;
        p.info{
            color:#999;
            font-size:11px;
            margin-bottom:10px;
        }
    }
}
// Participants list
ul#participants_list{
    li a{
        min-height:65px;
        padding-left:80px;
        h3{
            margin-top:16px;
        }
        div.wrap{
            left:10px;
            top:10px;
            width:60px;
            height:60px;
            border:1px solid #ccc;
            font-size:0px;

            span.rsvp{
                position:absolute;
                bottom:0px;
                left:0px;
                width:100%;
                height:4px;
                padding:0px;
                margin:0px;
                border-radius:0px;
            }
            span.unknown{
                background:#EBC113;
            }
            span.yes{
                background:#6FB92F;
            }
            span.no{
                background:#EA504C;
            }
        }

        .rsvp{
            font-weight:bold;
            display:inline-block;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px;
            padding:4px 4px 3px 18px;
            -moz-box-shadow:inset 0px 1px 2px 1px rgba(119, 119, 119, 0.5);
            -webkit-box-shadow:inset 0px 1px 2px 1px rgba(119, 119, 119, 0.5);
            box-shadow:inset 0px 1px 2px 1px rgba(119, 119, 119, 0.5);
            border-bottom:1px solid #fff;
            font-size:11px;
            background: #c9c9c9; /* Old browsers */
            background: -moz-linear-gradient(top,  #c9c9c9 0%, #e1e1e1 100%); /* FF3.6+ */
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c9c9c9), color-stop(100%,#e1e1e1)); /* Chrome,Safari4+ */
            background: -webkit-linear-gradient(top,  #c9c9c9 0%,#e1e1e1 100%); /* Chrome10+,Safari5.1+ */
            background: -o-linear-gradient(top,  #c9c9c9 0%,#e1e1e1 100%); /* Opera 11.10+ */
            background: -ms-linear-gradient(top,  #c9c9c9 0%,#e1e1e1 100%); /* IE10+ */
            background: linear-gradient(to bottom,  #c9c9c9 0%,#e1e1e1 100%); /* W3C */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9c9c9', endColorstr='#e1e1e1',GradientType=0 ); /* IE6-9 */
            background-position:2px 3px;
            background-repeat:no-repeat;

        }
        .attending{
            background-image:url("/images/dot_green.png");
            background-size: 13px 13px;
        }
        .unknown{
            background-image:url("/images/dot_yellow.png");
            background-size: 13px 13px;
        }
        .noshow{
            background-image:url("/images/dot_red.png");
            background-size: 13px 13px;
        }

    }
}
// Material list
ul#materials_list{
    li a{
        min-height:45px;
        padding-left:70px;
        span.ui-li-thumb{
            width:46px;
            height:46px;
            left:10px;
            top:10px;
        }
        span.ui-li-count{
            background:transparent;
            padding:1px 0px 0px 0px;
            text-align:center;
            @include retina-bg('/images/comment', 'png', 17px, 16px);
            width:17px;
            height:15px;
            border:none;
        }
        span.material-image{
            @include retina-bg('/images/m_image', 'png', 46px, 46px);
            background-position:top left;
            background-color:transparent;
        }
        span.material-text{
            @include retina-bg('/images/m_text', 'png', 46px, 46px);
            background-position:top left;
            background-color:transparent;
        }
        span.material-other{
            @include retina-bg('/images/m_prese', 'png', 46px, 46px);
            background-position:top left;
            background-color:transparent;
        }
    }
}

// Actual material
ul#material{
    li{
        p{
            margin:0px;
        }
    }
}

/* Fix material list icon positions */
.ui-li-thumb, .ui-listview .ui-li-icon{
    top:13px;
    left:10px;
}

/* Remove borders from body & set body bg */
body{
    max-width:720px;
    background-color:#e6e6e6 !important;
}
.ui-body-overlay-a{
    border:none;
}

/* Bottom bar icons */
#nav-meetings .ui-icon {
    @include retina-bg('/images/meetings', 'png', 20px, 20px);
    background-position:50% 50%;
    background-color:transparent;
    background-repeat:no-repeat;
}
#nav-settings .ui-icon {
    @include retina-bg('/images/settings', 'png', 20px, 20px);
    background-position:50% 50%;
    background-color:transparent;
    background-repeat:no-repeat;
}

/* Remove some extra borders */
.ui-header{ border:none !important; }
.ui-footer{ border-bottom:none !important; border-left:none !important; border-right:none !important;}
.ui-listview-filter-inset{border:none !important; background:none !important}
ul li.ui-li{
    border-bottom:1px solid #ccc;
    border-top:none;
}
ul li.ui-corner-top{
    border-top:1px solid #ccc;
}
/* Fix footer active color */
div.ui-footer{
    .ui-btn-active {
        border: 1px solid #ccc;
        background: #27282a;
        font-weight: bold;
        color: #fff;
        cursor: pointer;
        text-shadow: 0 0 0  #eeeeee;
        text-decoration: none;
        background-image: -webkit-gradient(linear, left top, left bottom, from( #27282a ), to( #27282a ));
        background-image: -webkit-linear-gradient( #27282a );
        background-image:    -moz-linear-gradient( #27282a );
        background-image:     -ms-linear-gradient( #27282a );
        background-image:      -o-linear-gradient( #27282a );
        background-image:         linear-gradient( #27282a, #27282a);
        font-family: Helvetica, Arial, sans-serif;
    }
    .ui-btn-active:visited,
    .ui-btn-active:hover,
    .ui-btn-active a.ui-link-inherit {
        color:#fff;
    }
}



// Loader styles
div.loader {
    text-align:center;
    img.loader{
        height:40px;
        width:40px;
        padding:55px 0 0 0px;;
    }
    span.loader{
        display:inline-block;
        height:40px;
        width:40px;
        background-image:url("/images/ajaxloader.gif");
        background-repeat:no-repeat;
        background-size:40px 40px;
    }

}
// Should be soon deprectaed
li img.loader{
    height:40px;
    width:40px;
    padding:5px 0 0 0px;;
}
// Also deprecated
li span.loader{
    display:inline-block;
    height:40px;
    width:40px;
    background-image:url("/images/ajaxloader.gif");
    background-repeat:no-repeat;
    background-size:40px 40px;
}

/* Meeting progres bar */
div.bar-wrapper{
    margin:10px 0px;
}
div.bar-container{
    position:relative;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border:2px solid #999;
    padding:3px;
    height:20px;
}
div.bar-container .bar{
    position:absolute;
    top:3px;
    left:3px;
    background-color:#75ceeb;
    height:20px;
    z-index: 1;
}
div.bar-container .text{
    position:absolute;
    text-align:center;
    top:5px;
    left:0px;
    z-index: 2;
    width: 100%;
    height: 18px;
    color: black;
    font-size:13px;
    color:#333;
}

/* Remove disk on button icons */
.ui-header .ui-icon {
    background-color:transparent;
    box-shadow:none;
}

/* Remove shadows from buttons */
.ui-shadow{
    box-shadow:none;
    -webkit-box-shadow:none;

}

/* Fix footer buttons to smaller */
.meeting-navbar span.ui-btn-text{
    font-size:10px;
}
.meeting-navbar li .ui-btn .ui-btn-inner{
    padding-bottom:0.2em;
}




/* Smaller h3 in lists */
ul li h3.ui-li-heading{
    font-size:14px;
    margin-top:4px;
}

/* Custom icons */
.ui-btn-icon-notext{height:30px; width:30px; top:3px!important;}
.ui-icon-mtngs-plus {
    @include retina-bg('/images/icon_plus', 'png', 18px, 18px);
    background-color:transparent;
    left:7px !important;
    box-shadow:none;
}
h3.today {
    mrgin-top:10px !important;
    @include retina-bg('/images/today' , 'png', 20px, 20px);
    padding-left:25px;
    padding-top:4px;
    background-repeat:no-repeat;
}
h3.upcoming {
    margin-top:10px !important;
    @include retina-bg('/images/upcomingyellow' , 'png', 20px, 20px);
    padding-left:25px;
    padding-top:4px;
    background-repeat:no-repeat;
}
h3.past {
    @include retina-bg('/images/past' , 'png', 20px, 20px);
    padding-left:25px;
    padding-top:4px;
    background-repeat:no-repeat;
}
h3.schedule {
    @include retina-bg('/images/schedule' , 'png', 20px, 20px);
    padding-left:25px;
    padding-top:4px;
    background-repeat:no-repeat;
}
.ui-icon-mtngs-cog {
    @include retina-bg('/images/icon_manage', 'png', 18px, 18px);
    background-color:transparent;
    box-shadow:none;
    left:5px;
    margin-left:6px !important;
    margin-top:5px !important;
}

.ui-icon-mtngs-back {
    @include retina-bg('/images/icon_back', 'png', 18px, 18px);
    background-color:transparent;
    left:7px !important;
    box-shadow:none;
}
.ui-icon-mtngs-skype {
    @include retina-bg('/images/icon_phone', 'png', 18px, 18px);
    background-color:transparent;
    left:10px !important;
    top:50% !important;
    background-ui-icon-mtngs-extcolor:transparent;
    box-shadow:none;
}
.ui-icon-mtngs-ext {
    @include retina-bg('/images/icon_ext', 'png', 18px, 18px);
    background-color:transparent;
    box-shadow:none;
    left:5px;
    margin-left:6px !important;
    margin-top:5px !important;
}
p.mtngs-calendar{
    @include retina-bg('/images/icon_cal' , 'png', 20px, 20px);
    background-color:transparent;
    background-position:0px 50%;
    background-repeat:no-repeat;
    padding:5px 0 0 34px;
    height:20px;
}
p.mtngs-location{
    @include retina-bg('/images/icon_loc' , 'png', 20px, 20px);
    background-color:transparent;
    background-position:0px 50%;
    background-repeat:no-repeat;
    padding:5px 0 0 34px;
    min-height:20px;
}
p.mtngs-email{
    @include retina-bg('/images/icon_mail' , 'png', 20px, 20px);
    background-color:transparent;
    background-position:0px 50%;
    background-repeat:no-repeat;
    padding:5px 0 0 34px;
    height:20px;
}
p.mtngs-mobile{
    @include retina-bg('/images/icon_mobile' , 'png', 20px, 20px);
    background-color:transparent;
    background-position:0px 50%;
    background-repeat:no-repeat;
    padding:5px 0 0 34px;
    height:20px;
}
p.mtngs-skype{
    @include retina-bg('/images/icon_skype' , 'png', 20px, 20px);
    background-color:transparent;
    background-position:0px 50%;
    background-repeat:no-repeat;
    padding:5px 0 0 34px;
    height:20px;
}
p.mtngs-linkedin{
    @include retina-bg('/images/icon_linkedin' , 'png', 20px, 20px);
    background-color:transparent;
    background-position:0px 50%;
    background-repeat:no-repeat;
    padding:5px 0 0 34px;
    height:20px;
}

h3.mtngs-firsth3{
    margin-top:0px;
}

#comments img{
    height:50px;
    width:50px;
}
.mtngs-profile-image{
    border:1px solid #ccc !important;
}

// material list text closer to icons
ul#material_list li a{
    padding-left:80px;
}

// Commenting
div#comment-box{
    height:60px;
    div.left{
        float:left;
        width:75%;
        div.container{
            margin:8px 8px 8px 0px;
            padding:10px;
            border:1px solid silver;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            overflow:hidden;
            textarea#comment-input{
                display:block;
                font-size:16px;
                height:18px;
                width:100%;
                padding:10px;
                margin:-10px;
                resize:none;
                outline:none;
                border:none;
            }
        }
    }
    div.right{
        float:left;
        width:25%;
        a.send-comment{
            text-align:center;
            height:18px;
            margin:8px 0px 8px 8px;
            padding:10px;
            border:1px solid #ccc;
            display:block;
            text-decoration:none;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            border: 1px solid #50a4c3;
            background: #75ceeb;
            font-weight: bold;
            color: #ffffff;
            text-shadow: 0px 1px 0px #50a4c3;
            background-image: -webkit-gradient(linear, left top, left bottom, from( #6cdaf6 ), to( #63c1db ));
            background-image: -webkit-linear-gradient( #6cdaf6 , #63c1db );
            background-image:    -moz-linear-gradient( #6cdaf6 , #63c1db );
            background-image:     -ms-linear-gradient( #6cdaf6 , #63c1db );
            background-image:      -o-linear-gradient( #6cdaf6 , #63c1db );
            background-image:linear-gradient( #6cdaf6 , #63c1db );
        }
    }
}


