@mixin retina-bg($file, $type, $width, $height) {
  background-image: url($file + '.' + $type);

  @media (-webkit-min-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2) {
    & {
      background-image: url($file + '@2x.' + $type);
      -webkit-background-size: $width $height;
    }
  }
}

@import "jqm","theme","icomoon";

// General colors
$red:#ec3838;
$footer-color:#282828;
$footer-text-color:#fafafa;
$p-color:#4c4b4b;
$p-color-hover:lighten($p-color, 10%);
$p-color-light:lighten($p-color, 20%);
$color-background:#c9c9c9;
$ui-darker-color:#D6D5D5;
$ui-dark-color:#e7e7e7;
$ui-border-color:#DBDBDB;

// ---- Universal colors ----
$color-red:#fd4e37;
$color-red-error:#f9260a;
$color-orange:#f57b23;
$color-green:#68bd04;
$color-gray:#999;
$color-gray-light:#ccc;
$color-gray-dark:#6c6c6c;
$color-gray-darker:#4c4b4b;
$color-gray-border:#dcd9d9;
$color-pink:#db4cb6;
$color-pink-hover:#a82e89;
$color-error-text:#ea2a2a;

// Select color
$color-select:#b6e2f4;

// Main color (y-repeating bg)
$color-main:#199acf;
$color-main-hover:darken($color-main, 10%);
$color-main-light:lighten($color-main, 40%);

span.bold{
    font-weight:700;
}

/* H3 and UL close to the top of the content 
.ui-content h3:first-child, .ui-content ul:first-child{
    margin-top:0px;
}*/
/* Rule to not truncate stuff */
.notruncation, ul#comments .ui-li-desc, ul#comments .ui-li-heading{
    white-space: normal !important;
}

// Add grid background
div.ui-page, div.ui-body-a{
    background-color:transparent;
    @include retina-bg('/images/mobile_bg', 'png', 3px, 3px);
    background-repeat:repeat;
    border:none;
}

// Shadow to header
div.ui-header{
    -webkit-box-shadow: 0px 0px 4px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 0px 4px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 0px 4px rgba(50, 50, 50, 0.75);
}

// Fix header button
.ui-header .ui-btn{
    top:5px;
}

// Content hidden by default
div.content{
    display:none;
}

// Disable webkit select on the pages where class is set
html.disable-touch-select {
    -webkit-touch-callout: none; /* prevent callout to copy image, etc when tap to hold */
    -webkit-user-select: none; /* prevent copy paste, to allow, change 'none' to 'text' */
}

.meeting-navbar .ui-btn .ui-icon { width: 30px!important; height: 22px!important; margin-left: -15px !important; box-shadow: none!important; -moz-box-shadow: none!important; -webkit-box-shadow: none!important; -webkit-border-radius: 0 !important; border-radius: 0 !important; }
// RSVP answers on meeting page
div.rsvp-answer{
    line-height:40px;
}
div.rsvp-answer,div.next-action{
    span.text{
        display:block;
        height:32px;
        margin-left:7px;
    }
    a.accept-green{
        line-height:normal;
        text-align:center;
        margin:0px 0px 0px 8px;
        padding:10px;
        height:18px;
        display:inline-block;
        text-decoration:none;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        background: #009f01;
        font-weight: bold;
        color: #ffffff !important;
        text-shadow: 0px 1px 0px #50a4c3;
        border:1px solid #007901;
        background-image: -webkit-gradient(linear, left top, left bottom, from( #00b81e ), to( #008e02 ));
        background-image: -webkit-linear-gradient( #00b81e , #008e02 );
        background-image:    -moz-linear-gradient( #00b81e , #008e02 );
        background-image:     -ms-linear-gradient( #00b81e , #008e02 );
        background-image:      -o-linear-gradient( #00b81e , #008e02 );
        background-image:linear-gradient( #00b81e , #008e02 );
        background-attachment:fixed;
        background-repeat: no-repeat;
    }
    a.cancel-red{
        line-height:normal;
        text-align:center;
        margin:0px 0px 0px 8px;
        padding:10px;
        height:18px;
        display:inline-block;
        text-decoration:none;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        background: #009f01;
        font-weight: bold;
        color: #ffffff !important;
        text-shadow: 0px 1px 0px #50a4c3;
        border:1px solid #9f0d07;
        background-image: -webkit-gradient(linear, left top, left bottom, from( #ed2310 ), to( #c90d00 ));
        background-image: -webkit-linear-gradient( #ed2310 , #c90d00 );
        background-image:    -moz-linear-gradient( #ed2310 , #c90d00 );
        background-image:     -ms-linear-gradient( #ed2310 , #c90d00 );
        background-image:      -o-linear-gradient( #ed2310 , #c90d00 );
        background-image:linear-gradient( #ed2310 , #c90d00 );
        background-attachment:fixed;
        background-repeat: no-repeat;
    }
}

// Scheduling answers on meeting page
div.scheduling-answer{
}

// Scheduling page
div#scheduling{
    h3{
        margin-bottom:5px;
    }
    p.mtngs-location{
        margin: 5px 0px;
    }
}
// Login page stuff
div#login.app-mode{
    background-repeat:repeat-y;
    background-size:100% 41px;
    @include retina-bg('/images/login_bg_large', 'jpg', 100%, 41px);
    div.no-mobile-link{
        display:none;
    }
}
div#apps {
    text-align:center;
    h1.meetings-logo{
        margin-top:20px !important;
    }
    h2{
        color:#fff;
        margin:40px auto 20px auto;
        width:240px;
        font-weight:normal;
        text-align:left;
        text-shadow: 1px 1px 2px rgba(0,0,0,0.3);
    }
    ul{
        margin:0px auto;
        width:240px;
        text-align:left;
        li{
            color:#fff;
            text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
        }
    }
    .button{
        width:240px;
        margin:20px auto 10px auto;
    }
    .skip{
        color:#fff;
        text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
        font-size:14px;
        font-weight:normal;
    }
}
div#login,div#apps{
    position:absolute;
    top:0px;
    bottom:0px;
    width:100%;
    padding:0px;
    background-repeat:repeat;
    background-image:url(/images/login_bg_tile.png);
    .ui-br{
        border:none;
    }
    div.ui-field-contain{
        margin:0 auto 0;
        width:268px;
    }
    div.ui-input-text{
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        box-sizing: border-box; 
        /*padding-left:0px;*/
        /*padding-right:0px;*/
    }
    p.login-message{
        margin:0 auto 0 auto;
        width:268px;
        color:#fff;
        text-shadow: 0 1px 0 rgba(0,0,0,0.3);
        padding:25px 0px 15px 0px;
    }
    p.error{
        color:#F55457;
        font-size:13px;
        text-shadow: 0 1px 0 rgba(0,0,0,0.3);
    }
    label{
        color:#fff;
        font-size:28px;
        text-shadow: 0 1px 0 rgba(0,0,0,0.3);
        margin-bottom:0px;
        padding-bottom:0px;
    }
    div.ui-input-text{
        width:100%;
        border: 1px solid silver;
        border-radius:4px;
        -webkit-border-radius:4px;
        -moz-border-radius:4px;
        padding:0 0.8em;
    }
    div#login-form{
        margin-top:50px;
    }
    a#facebook-login{
        display:block;
        background-position:top center;
        background-color:transparent;
        background-repeat:no-repeat;
        @include retina-bg('/images/fb_button', 'png', 268px, 41px);
        width:268px;
        height:41px;
    }
    div.logo{
        text-align:center;
        h1.meetings-logo{
            display:block;
            background-position:top center;
            background-color:transparent;
            background-repeat:no-repeat;
            width:240px;
            height:101px;
            @include retina-bg('/images/logo', 'png', 240px, 101px);
            margin:40px auto;
        }
    }
    input{
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        font-weight:300;
    }
    div.no-mobile-link{
        position:absolute;
        bottom:15px;
        text-align:center;
        width:100%;
        a#no-mobile{
            color:#fff;
            text-shadow:none;
        }
    }
    p.separator{
        text-align:center;
        color:#fff;
        text-shadow: 0 1px 0 rgba(0,0,0,0.3);
        font-size:13px;
    }
    div#pin-form,div#profile-form{
        display:none;
    }
}
// Meetings in list view
ul#proposals{
    li{
        margin-bottom:10px;
        span.ui-icon-arrow-r{
            display:none;
        }
        a{
            padding-top:25px !important;
            padding-bottom:4px;
            div.top-bar{
                position:absolute;
                top:0px;
                left:0px;
                width:100%;
                background-color:#eee;
                font-size:11px;
                color:#777;
                font-weight:500;
                height:24px;
                @include retina-bg('/images/checkbox_green', 'png', 17px, 17px);
                background-repeat:no-repeat;
                background-position: 5px 4px;
                span.left{
                    height:24px;
                    line-height:20px;
                    border-left:1px solid #fff;
                    float:left;
                    padding:3px 0 3px 30px;
                }
                span.right{
                    height:24px;
                    line-height:20px;
                    border-right:1px solid #fff;
                    float:right;
                    padding:3px 15px 3px 0;
                }
            }
            div.participants{
                padding-top:5px;
            }
        }
        a.option-no{
            div.top-bar{
                @include retina-bg('/images/checkbox', 'png', 17px, 17px);
            }
        }
        a.option-choose{
            div.top-bar{
                background-image:none;
                span.left{
                    padding-left:15px;
                }
            }
        }
    }
}
ul#proposals li a.option-yes div.top-bar{
    background-color:#d8e6be;
}

// Meetings in list view
ul.meeting-list{
    li{
        a{
            padding-top:25px !important;
            div.top-bar{
                position:absolute;
                top:0px;
                left:0px;
                width:100%;
                background-color:#eee;
                font-size:11px;
                color:#777;
                font-weight:500;
                span.left{
                    border-left:1px solid #fff;
                    float:left;
                    padding:3px 0 3px 15px;
                }
                span.right{
                    border-right:1px solid #fff;
                    float:right;
                    padding:3px 15px 3px 0;
                }
            }
        }
    }
}
ul.highlight-list{
    li {
        a {
            font-size:14px;
        }

        .task-icon {
            display: inline-block;
            margin-right: 10px;
        }

        .title {
            font-weight: normal;
        }
    }
}
ul li.today a div.top-bar{
    background-color:#d8e6be;
}
// Single participant
div#participant{
    img{
        max-width:90%;
    }
    .ui-block-b a:first-child{
        margin-top:1px;
    }
}

// Participant image placeholders
div.participants{
    max-width:92%;
    overflow:hidden;
    min-height:24px;
    div.wrap{
        position:relative;
        margin-right:2px;
        border:1px solid #ccc;
        display:inline;
        float:left;
        font-size:0px;
        span.rsvp{
            position:absolute;
            bottom:0px;
            left:0px;
            width:100%;
            height:4px;
            padding:0px;
            margin:0px;
            border-radius:0px;
        }
        span.unknown{
            background:#EBC113;
        }
        span.yes{
            background:#6FB92F;
        }
        span.no{
            background:#EA504C;
        }
    }
}
span.placeholder-100{
    background-position:top left;
    background-color:transparent;
    width:100px;
    height:100px;
    display:inline-block;
    @include retina-bg('/images/default_user_100', 'png', 100px, 100px);
}
span.placeholder-60{
    background-position:top left;
    background-color:transparent;
    width:60px;
    height:60px;
    display:inline-block;
    @include retina-bg('/images/default_user_60', 'png', 60px, 60px);
}
span.placeholder-30{
    background-position:top left;
    background-color:transparent;
    width:30px;
    height:30px;
    display:inline-block;
    @include retina-bg('/images/default_user_30', 'png', 30px, 30px);
}

span.placeholder-20{
    background-position:top left;
    background-color:transparent;
    width:20px;
    height:20px;
    display:inline-block;
    @include retina-bg('/images/default_user_20', 'png', 20px, 20px);
}

// Main view lists
ul#future{
    margin-top:0px;
    li.loader-inlist{
        min-height:18px;
        height:18px;
    }
    li{
        min-height:101px;
        div.ui-btn-inner{
            span.ui-icon-arrow-r{
                top:58px;
            }
        }
    }
    li.end{
        min-height:30px;
        height:30px;
        text-align:center;
    }
    li.loader{
        text-align:center;
        display:inline-block;
        width:100%;
        min-height:auto;
        height:94px;
    }
}
p.sorry{
    margin-top:25px;
    text-align:center;
    span.sorry-squrre{
        display:inline-block;
        width:200px;
        height:163px;
        background-image:url(/images/sorry_squrre.png);
        background-repeat:no-repeat;
        background-size:200px 163px;
    }
}

// Single material
div#material-container{
    padding-bottom:0px;
    ul{
        margin-bottom:0px;
    }

    #locked {
        background-color: #eee;
        padding: 10px;

        p { margin-top: 0; }

        a { 
            font-weight: normal; 
            color: #2489ce;
        }
    }
}
div#material-container.scribd{
    ul li{
        padding-right:0px;
        padding-left:0px;
    }
    h3{
        margin-left:15px;
        margin-right:15px;
    }
    padding-right:0px;
    padding-left:0px;
}
li#material_content{
    padding-left:15px;
    p.ui-li-desc{
        display:inline;
    }
    img{
        max-width:100%;
    }
}
// Comments
ul#comments{
    .ui-li-has-thumb{
        padding-left:70px;
        p.info{
            color:#999;
            font-size:11px;
            margin-bottom:10px;
        }
    }
}
// Participants list
ul#participants_list{
    li a{
        min-height:65px;
        padding-left:80px;
        h3{
            margin-top:16px;
        }
        div.wrap{
            left:10px;
            top:10px;
            width:60px;
            height:60px;
            border:1px solid #ccc;
            font-size:0px;

            span.rsvp{
                position:absolute;
                bottom:0px;
                left:0px;
                width:100%;
                height:4px;
                padding:0px;
                margin:0px;
                border-radius:0px;
            }
            span.unknown{
                background:#EBC113;
            }
            span.yes{
                background:#6FB92F;
            }
            span.no{
                background:#EA504C;
            }
        }

        .rsvp{
            font-weight:bold;
            display:inline-block;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px;
            padding:4px 4px 3px 18px;
            -moz-box-shadow:inset 0px 1px 2px 1px rgba(119, 119, 119, 0.5);
            -webkit-box-shadow:inset 0px 1px 2px 1px rgba(119, 119, 119, 0.5);
            box-shadow:inset 0px 1px 2px 1px rgba(119, 119, 119, 0.5);
            border-bottom:1px solid #fff;
            font-size:11px;
            background: #c9c9c9; /* Old browsers */
            background: -moz-linear-gradient(top,  #c9c9c9 0%, #e1e1e1 100%); /* FF3.6+ */
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c9c9c9), color-stop(100%,#e1e1e1)); /* Chrome,Safari4+ */
            background: -webkit-linear-gradient(top,  #c9c9c9 0%,#e1e1e1 100%); /* Chrome10+,Safari5.1+ */
            background: -o-linear-gradient(top,  #c9c9c9 0%,#e1e1e1 100%); /* Opera 11.10+ */
            background: -ms-linear-gradient(top,  #c9c9c9 0%,#e1e1e1 100%); /* IE10+ */
            background: linear-gradient(to bottom,  #c9c9c9 0%,#e1e1e1 100%); /* W3C */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9c9c9', endColorstr='#e1e1e1',GradientType=0 ); /* IE6-9 */
            background-position:2px 3px;
            background-repeat:no-repeat;

        }
        .attending{
            background-image:url("/images/dot_green.png");
            background-size: 13px 13px;
        }
        .unknown{
            background-image:url("/images/dot_yellow.png");
            background-size: 13px 13px;
        }
        .noshow{
            background-image:url("/images/dot_red.png");
            background-size: 13px 13px;
        }

    }
}
// Meetme config
div#meetme-config{

    // Url section
    div.url{
        p{
            span.handle{
                font-weight:500;
            }
            a.change-url{
                color:$color-main;
                text-decoration:underline;
                padding:0 20px;
            }
        }
        p.finding-url,p.your-url{
            display:none;
        }
    }

    // Calendar section
    div.calendar{

        div.timezone{
            margin-bottom:35px;
            font-family:"museo-sans-n3", "museo-sans", Helvetica, Arial, sans-serif;
            font-size:15px;
            font-weight:300;
            color:$p-color;
            .chzn-container{
                margin-left:28px;
            }
        }
        div.time{
            margin-bottom:35px;
            font-family:"museo-sans-n3", "museo-sans", Helvetica, Arial, sans-serif;
            font-size:15px;
            font-weight:300;
            color:$p-color;
            i{
                padding-right:14px;
                font-size:20px;
                position:relative;
                top:3px;
            }
            div#timeslider,div#pauseslider{
                display:inline-block;
                margin-right:28px;
            }
            span.time-container{
                width:60px;
                display:inline-block;
                text-align:center;
            }
        }
        p{
            margin-bottom:35px;
            i{
                padding-right:14px;
                font-size:20px;
                position:relative;
                top:5px;
            }
            input#matchmaker-location{
                width:240px;
                padding-left:14px;
                margin-left:7px;
            }
            a.open-calendar{
                color:$color-main;
                text-decoration:underline;
            }
            a.connect-google{
                display:inline-block;
                position:relative;
                top:9px;
                margin-left:14px;
            }
        }
        div.pick-slots{
            a.open-calendar{
                padding-left:14px;
            }
            p.sources-info{
                margin-bottom:14px;
            }
            div.calendar-container{
                display:none;

                // Override calendar defaults
                .btd-scrollable-grid{
                    background-color:transparent;
                    .btd-day-column{
                        background-color:#fff;
                        .btd-cal-event{
                            -webkit-border-radius: 0px;
                            -moz-border-radius: 0px;
                            border-radius: 0px;
                            background:#91da60;
                            background:rgba(145,218,96,0.4);

                        }
                        .btd-event-hovering{
                            -webkit-border-radius: 0px;
                            -moz-border-radius: 0px;
                            border-radius: 0px;
                            background:darken(#81da60, 10%);
                            background:rgba(145,218,96,0.6);
                        }
                    }
                }
                .btd-header,.btd-header td{
                    text-transform:uppercase;
                    background:transparent;
                }
                .btd-grid-timeslot-header{
                    background-color:transparent;
                    .btd-hour-header {
                        border-bottom:none;
                        margin-bottom:1px; // Fix removed border
                    }
                }
            }
        }
    }
    // Page section
    div.page{
        div.left{
            vertical-align:top;
            width:439px;
            display:inline-block;

            div.bubble{
                position:relative;
                width:400px;
                border:1px solid #ccc;
                background:#fff;
                padding:14px;
                margin:14px 0 28px 0;
                textarea{
                    border:none;
                    resize:none;
                    width:398px;
                    margin:0px;
                    padding:0px;
                    font-family:"museo-sans-n3", "museo-sans", Helvetica, Arial, sans-serif;
                    font-size:14px;
                    font-weight:300;
                    color:$p-color-light;
                    height:105px;
                }
                span.sqa{
                    z-index:0;
                    position:absolute;
                    top:25px;
                    left:-7px;
                    width:0;
                    height:0;
                    border-top:6px solid transparent;
                    border-bottom:6px solid transparent;
                    border-right:6px solid #ccc;
                }
                span.sqb{
                    z-index:1;
                    position:absolute;
                    width:0;
                    height:0;
                    top:26px;
                    left:-5px;
                    border-top:5px solid transparent;
                    border-bottom:5px solid transparent;
                    border-right:5px solid #fff;
                }
            }

        }
        div.right{
            vertical-align:top;
            width:390px;
            padding-left:49px;
            display:inline-block;
            div.backgrounds{
                margin-bottom:28px;
                .background{
                    width:47px;
                    height:47px;
                    display:inline-block;
                    margin:14px 14px 0 0;
                    background-color:#fff;
                    border:2px solid #ccc;
                    background-size:cover;
                    -moz-background-size:cover;
                    box-sizing:border-box;
                    vertical-align:top;
                }
                .active{
                    border:2px solid $color-main;
                }
                #own-bg .progress-bar{
                    height:100%;
                    width:0%;
                    display:none;
                    background-color:$ui-darker-color;
                    color:$p-color;
                    font-size:12px;
                    text-align:center;
                    line-height:47px;
                }
            }
        }
    }
}

// Meetme page presets
$side-pad:35px;

// Meetme coverpage
#meetme{
    padding:0px;

    #signup-form{
        padding:0 $side-pad;
    }
}
#meetme-cover{
    min-height:300px;
    div.top{
        width:100%;
        height:95px;
        text-align:left;
        background-color:#f3f3f3;
        background-color:rgba(255,255,255,0.6);
        h1{
            color:#333;
            margin:0 auto;
            text-align:left;
            padding:7px $side-pad;
            font-size:36px;
            font-weight:300;
        }
        p{
            color:#333;
            text-align:left;
            margin:0 auto;
            padding:0px $side-pad 14px $side-pad;
            font-size:20px;
            font-weight:300;
        }
    }
    div.box{
        background-color:#fff;
        background-color:rgba(255,255,255,0.8);
        margin:0px 28px 28px 28px;
        padding:14px 0px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        border:1px solid #ccc;
    }

    div.clear{
        clear:both;
        margin-top:28px;
    }
    div.middle{
        margin-top:21px;
        position:relative;
        div.border{
            width:140px;
            height:140px;
            border:3px solid #fff;
            box-shadow:0px 0px 6px 1px rgba(0,0,0,0.5);
            -webkit-border-radius: 140px;
            -moz-border-radius: 140px;
            border-radius: 140px;
            overflow:hidden;
            display:inline-block;
            float:left;
            margin-left:14px;
            div.wrapper{
                -webkit-border-radius: 140px;
                -moz-border-radius: 140px;
                border-radius: 140px;
                overflow:hidden;
                img{
                    width:140px;
                    height:140px;
                }
            }
        }
        div.description{
            min-height:140px;
            vertical-align:top;
            margin-left:168px;
            p{
                padding:0 28px 0 14px;
                margin:0px;
                line-height:22px;
            }
        }
        @media only screen and (max-width: 500px) {
            div.description{
                margin-left:0px;
                margin-top:168px;
            }
        }

        div.mm{
            border-top:1px solid #ccc;
            padding:7px 14px;
            h3{
                margin-top:14px;
                font-weight:normal;
                font-size:18px;
                i{
                    margin-right:14px;
                    font-size:32px;
                    vertical-align:middle;
                }
            }
        }
        a.meet-me{
            display:block;
        }
    }
}

#meetme-confirmed{
    padding:14px;
    background-color:#E6E6E6;
}
#meetme-tzconfig{
    padding:14px;
    background-color:#e7e7e7;
}
#meetme-confirm{
    min-height:300px;
    div.info-bar{
        background-color:#e7e7e7;
        margin:0 auto;
        padding-bottom:14px;
        p{
            text-align:left;
            margin:0px;
            padding:14px $side-pad 0px $side-pad;
            line-height:$side-pad;
        }
    }
    div.form-area{
        padding:14px;
    }
}

#meetme-calendar{
    min-height:300px;
    div.top{
        width:100%;
        height:98px;
        text-align:left;
        background-color:#f3f3f3;
        background-color:rgba(255,255,255,0.6);
        position:relative;
        div.border{
            position:absolute;
            top:14px;
            left:$side-pad;
            width:70px;
            height:70px;
            border:3px solid #fff;
            box-shadow:0px 0px 6px 1px rgba(0,0,0,0.5);
            -webkit-border-radius: 70px;
            -moz-border-radius: 70px;
            border-radius: 70px;
            overflow:hidden;
            div.wrapper{
                -webkit-border-radius: 70px;
                -moz-border-radius: 70px;
                border-radius: 70px;
                overflow:hidden;
                img{
                    width:70px;
                    height:70px;
                }
            }
        }
        h1{
            color:#333;
            margin:0;
            text-align:left;
            padding:21px 14px 7px 119px;
            font-size:26px;
            font-weight:300;
        }
        p{
            color:#333;
            text-align:left;
            margin:0 auto;
            padding:0px 14px 14px 119px;
            font-size:18px;
            font-weight:300;
        }
    }
    div.info-bar{
        background-color:#e7e7e7;
        margin:0 auto;
        padding-bottom:14px;
        p{
            text-align:left;
            margin:0px;
            padding:14px $side-pad 0px $side-pad;
            i:last-child{
                margin-left:14px;
            }
        }
    }
    div.middle{
        p{
            margin:14px;
        }
    }
    ul#slots{
        margin:14px;
        li{
            a{
                height:20px;
                span.left{
                    float:left;
                }
                span.right{
                    float:right;
                    font-size:14px;
                    font-weight:normal;
                }
            }
        }
    }
}


// Material list
ul#materials_list{
    li a{
        min-height:45px;
        padding-left:70px;
        span.ui-li-thumb{
            width:46px;
            height:46px;
            left:10px;
            top:10px;
        }
        span.ui-li-count{
            background:transparent;
            padding:1px 0px 0px 0px;
            text-align:center;
            @include retina-bg('/images/comment', 'png', 17px, 16px);
            width:17px;
            height:15px;
            border:none;
            color:#fff;
            text-shadow:none;
            line-height:12px;
            font-weight:300;
            margin-top:-7px;
        }
        span.material-image{
            @include retina-bg('/images/m_image', 'png', 46px, 46px);
            background-position:top left;
            background-color:transparent;
        }
        span.material-text{
            @include retina-bg('/images/m_text', 'png', 46px, 46px);
            background-position:top left;
            background-color:transparent;
        }
        span.material-other{
            @include retina-bg('/images/m_prese', 'png', 46px, 46px);
            background-position:top left;
            background-color:transparent;
        }
    }
}

// Actual material
ul#material{
    li{
        p{
            margin:0px;
        }
    }
}

// Fix material list icon positions
.ui-li-thumb, .ui-listview .ui-li-icon{
    top:13px;
    left:10px;
}

// Remove borders from body & set body bg color
body{
    max-width:720px;
    background-color:#e6e6e6 !important;
    -webkit-touch-callout:none; // Disable callout
}
.ui-body-overlay-a{
    border:none;
}

// Remove some unwanted borders
.ui-header{ border:none !important; }
.ui-footer{ border-bottom:none !important; border-left:none !important; border-right:none !important;}
.ui-listview-filter-inset{border:none !important; background:none !important}

// Hack some border colors only inside content so as not to affect panel
div.ui-content ul li.ui-li:last-child{
    border-bottom:1px solid #ccc;
}
div.ui-content ul li.ui-li{
    border-bottom:none;
    border-top:1px solid #ccc;
}
div.ui-content ul li.ui-corner-top{
    border-top:1px solid #ccc;
}

.draft{
    color:#EA7D7A;
}

// Loader styles
div.loader {
    img.loader{
        position:absolute;
        top:50%;
        left:50%;
        margin-top:-20px;
        margin-left:-20px;
        height:40px;
        width:40px;
    }
    span.loader{
        position:absolute;
        top:50%;
        left:50%;
        margin-top:-20px;
        margin-left:-20px;
        height:40px;
        width:40px;
        background-image:url("/images/ajaxloader.gif");
        background-repeat:no-repeat;
        background-size:40px 40px;
    }
}
.loader-inlist{
    text-align:center;
    span.loader{
        margin-top:10px;
        display:inline-block;
        height:40px;
        width:40px;
        background-image:url("/images/ajaxloader.gif");
        background-repeat:no-repeat;
        background-size:40px 40px;
    }
}

ul.meeting-list li.loader-inlist a {
    padding-top: 0 !important;    
}

.loader-inlist a {
    display: block;
    color: #666;
    text-decoration: none;
}

.loader-inlist a:hover {
    color: #333;
    text-decoration: none;
}

// Should be soon deprectaed
li img.loader{
    height:40px;
    width:40px;
    padding:5px 0 0 0px;;
}
// Also deprecated
li span.loader{
    display:inline-block;
    height:40px;
    width:40px;
    background-image:url("/images/ajaxloader.gif");
    background-repeat:no-repeat;
    background-size:40px 40px;
}

/* Meeting progres bar */
div.bar-wrapper{
    margin:10px 0px;
}
div.bar-container{
    position:relative;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border:2px solid #999;
    padding:3px;
    height:30px;
    box-sizing:border-box;
}
div.bar-container .bar{
    background-color:#75ceeb;
    height:20px;
    z-index: 1;
}
div.bar-container .text{
    position:absolute;
    text-align:center;
    top:5px;
    left:0px;
    z-index: 2;
    width: 100%;
    height: 18px;
    color: black;
    font-size:13px;
    color:#333;
}

/* Remove disk on button icons */
.ui-header .ui-icon {
    background-color:transparent;
    box-shadow:none;
}

/* Remove shadows from buttons */
.ui-shadow{
    box-shadow:none;
    -webkit-box-shadow:none;

}

/* Fix footer buttons to smaller */
.meeting-navbar span.ui-btn-text{
    font-size:10px;
}
.meeting-navbar li .ui-btn .ui-btn-inner{
    padding-bottom:0.2em;
}




/* Smaller h3 in lists */
ul li h3.ui-li-heading{
    font-size:14px;
    margin-top:4px;
}

/* Custom icons */
.ui-btn-icon-notext{height:30px; width:50px;}
.ui-icon-mtngs-plus {
    @include retina-bg('/images/icon_plus', 'png', 18px, 18px);
    background-color:transparent;
    box-shadow:none;
    left:5px;
    margin-left:16px !important;
    margin-top:5px !important;
    border-radius:0px !important;
}
.ui-icon-mtngs-plus-button {
    @include retina-bg('/images/icon_plus', 'png', 18px, 18px);
    background-color:transparent;
    box-shadow:none;
    border-radius:0px !important;
    margin-right: 8px !important;
    margin-bottom: -2px !important;
}
h3.today {
    mrgin-top:10px !important;
    @include retina-bg('/images/today' , 'png', 20px, 20px);
    padding-left:25px;
    padding-top:3px;
    background-repeat:no-repeat;
}
h3.upcoming {
    margin-top:10px !important;
    @include retina-bg('/images/upcomingyellow' , 'png', 20px, 20px);
    padding-left:25px;
    padding-top:3px;
    background-repeat:no-repeat;
}
h3.past {
    @include retina-bg('/images/past' , 'png', 20px, 20px);
    padding-left:25px;
    padding-top:3px;
    background-repeat:no-repeat;
}
h3.schedule {
    @include retina-bg('/images/schedule' , 'png', 20px, 20px);
    padding-left:25px;
    padding-top:3px;
    background-repeat:no-repeat;
}
h3.tasks {
    @include retina-bg('/images/tasks' , 'png', 20px, 20px);
    padding-left:25px;
    padding-top:3px;
    background-repeat:no-repeat;
}
.ui-icon-mtngs-panel {
    @include retina-bg('/images/icon_panel', 'png', 18px, 18px);
    background-color:transparent;
    box-shadow:none;
    left:5px;
    margin-left:16px !important;
    margin-top:5px !important;
    border-radius:0px !important;
}
.ui-icon-mtngs-panel-edit {
    @include retina-bg('/images/icon_plus', 'png', 18px, 18px);
    background-color:transparent;
    box-shadow:none;
    left:5px;
    margin-left:16px !important;
    margin-top:5px !important;
}

.ui-icon-mtngs-cog {
    @include retina-bg('/images/icon_manage', 'png', 18px, 18px);
    background-color:transparent;
    box-shadow:none;
    left:5px;
    margin-left:16px !important;
    margin-top:5px !important;
}

.ui-icon-mtngs-meeting {
    @include retina-bg('/images/icon_plus', 'png', 18px, 18px);
    background-color:transparent;
    box-shadow:none;
    left:5px;
    margin-left:16px !important;
    margin-top:5px !important;
}

.ui-icon-mtngs-add-meeting-button {
    @include retina-bg('/images/icon_add_white', 'png', 18px, 18px);
    background-color:transparent;
    box-shadow:none;
    left:5px;
    margin-left:16px !important;
    margin-top:5px !important;
}

.ui-icon-mtngs-add-meeting {
    @include retina-bg('/images/icon_add_white', 'png', 18px, 18px);
    background-color:transparent;
    box-shadow:none;
    left:5px;
}

.ui-icon-mtngs-add-participant {
    @include retina-bg('/images/icon_plus', 'png', 18px, 18px);
    background-color:transparent;
    box-shadow:none;
    left:5px;
    margin-left:16px !important;
    margin-top:5px !important;
}

.ui-icon-mtngs-back {
    @include retina-bg('/images/icon_back', 'png', 18px, 18px);
    background-color:transparent;
    left:7px !important;
    box-shadow:none;
}
.ui-icon-mtngs-skype {
    @include retina-bg('/images/icon_skype', 'png', 18px, 18px);
    background-color:transparent;
    background-ui-icon-mtngs-extcolor:transparent;
    box-shadow:none;
    margin-left: 2px;
    margin-right: 10px !important;
    margin-bottom: -3px !important;
}
.ui-icon-mtngs-skype-white {
    @include retina-bg('/images/icon_skype_white', 'png', 18px, 18px);
    background-color:transparent;
    background-ui-icon-mtngs-extcolor:transparent;
    box-shadow:none;
    margin-right: 8px !important;
    margin-bottom: -2px !important;
}
.ui-icon-mtngs-cross-white {
    @include retina-bg('/images/icon_cross_white', 'png', 18px, 18px);
    background-color:transparent;
    background-color:transparent;
    background-ui-icon-mtngs-extcolor:transparent;
    box-shadow:none;
    margin-right: 8px !important;
    margin-bottom: -2px !important;
}
.ui-icon-mtngs-calendar {
    @include retina-bg('/images/icon_cal', 'png', 18px, 18px);
    background-color:transparent;
    background-ui-icon-mtngs-extcolor:transparent;
    box-shadow:none;
    margin-left: 2px;
    margin-right: 10px !important;
    margin-bottom: -3px !important;
}
.ui-icon-mtngs-mobile {
    @include retina-bg('/images/icon_mobile', 'png', 18px, 18px);
    background-color:transparent;
    background-ui-icon-mtngs-extcolor:transparent;
    box-shadow:none;
    margin-left: 2px;
    margin-right: 10px !important;
    margin-bottom: -3px !important;
    border-radius:0px !important;
}
.ui-icon-mtngs-mail {
    @include retina-bg('/images/icon_mail', 'png', 18px, 18px);
    background-color:transparent;
    background-ui-icon-mtngs-extcolor:transparent;
    box-shadow:none;
    margin-left: 2px;
    margin-right: 10px !important;
    margin-bottom: -3px !important;
    border-radius:0px !important;
}
.ui-icon-mtngs-linkedin {
    @include retina-bg('/images/icon_linkedin', 'png', 18px, 18px);
    background-color:transparent;
    background-ui-icon-mtngs-extcolor:transparent;
    box-shadow:none;
    margin-left: 2px;
    margin-right: 10px !important;
    margin-bottom: -3px !important;
    border-radius:0px !important;
}
.ui-icon-mtngs-location {
    @include retina-bg('/images/icon_editlocation', 'png', 18px, 18px);
    background-color:transparent;
    background-ui-icon-mtngs-extcolor:transparent;
    box-shadow:none;
    margin-left: 2px;
    margin-right: 10px !important;
    margin-bottom: -3px !important;
}
.ui-icon-mtngs-ext {
    @include retina-bg('/images/icon_ext', 'png', 18px, 18px);
    background-color:transparent;
    box-shadow:none;
    left:5px;
    margin-left:16px !important;
    margin-top:5px !important;
}

p.mtngs-calendar{
    position:relative;
    min-height:20px;
}
p.mtngs-location{
    position:relative;
    min-height:20px;
}
p.mtngs-email{
    position:relative;
    min-height:20px;
}
p.mtngs-mobile{
    position:relative;
    min-height:20px;
}
p.mtngs-skype{
    position:relative;
    min-height:20px;
}
p.mtngs-linkedin{
    position:relative;
    min-height:20px;
}


// Panel styles
#side-bar{
    // Fix texts & borders & active
    .ui-btn{
        font-weight:300 !important;
        font-size:14px !important;
        border-bottom:none;
    }
    .ui-li-divider{
        font-weight:300 !important;
        font-size:12px !important;
        border-bottom:none;
        letter-spacing:0.1em;
    }
    .ui-btn-inner{
        font-size:14px !important;
        border-color:rgba(255, 255, 255, 0.1);
    }
    .ui-btn-active{
        border: 1px solid #181818 /*{c-bhover-border}*/;
        border-bottom:none;
        background-image: -webkit-gradient(linear, left top, left bottom, from( #3e3e3e /*{c-bhover-background-start}*/), to( #3e3e3e /*{c-bhover-background-end}*/)); /* Saf4+, Chrome */
        background-image: -webkit-linear-gradient( #3e3e3e /*{c-bhover-background-start}*/, #3e3e3e /*{c-bhover-background-end}*/); /* Chrome 10+, Saf5.1+ */
        background-image:    -moz-linear-gradient( #3e3e3e /*{c-bhover-background-start}*/, #3e3e3e /*{c-bhover-background-end}*/); /* FF3.6 */
        background-image:     -ms-linear-gradient( #3e3e3e /*{c-bhover-background-start}*/, #3e3e3e /*{c-bhover-background-end}*/); /* IE10 */
        background-image:      -o-linear-gradient( #3e3e3e /*{c-bhover-background-start}*/, #3e3e3e /*{c-bhover-background-end}*/); /* Opera 11.10+ */
        background-image:         linear-gradient( #3e3e3e /*{c-bhover-background-start}*/, #3e3e3e /*{c-bhover-background-end}*/);
    }

    .ui-icon {
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        border-radius: 0px;
    }
}
div#left-panel{
    a.no-mobile{
        position:absolute;
        width:90%;
        bottom:15px;
        display:block;
        text-align:center;
        font-weight:300 !important;
        font-size:14px !important;
    }
    span.ui-icon-arrow-r{
        display:none;
    }
    span.menu-icon-meetings{
        @include retina-bg('/images/icon_meetings' , 'png', 20px, 20px);
        background-color:transparent;
        background-position:0px 50%;
        background-repeat:no-repeat;
        padding:5px 0 0 34px;
        height:20px;
    }
    span.menu-icon-facebook{
        @include retina-bg('/images/icon_facebook' , 'png', 20px, 20px);
        background-color:transparent;
        background-position:0px 50%;
        background-repeat:no-repeat;
        padding:5px 0 0 34px;
        height:20px;
    }
    span.menu-icon-twitter{
        @include retina-bg('/images/icon_twitter' , 'png', 20px, 20px);
        background-color:transparent;
        background-position:0px 50%;
        background-repeat:no-repeat;
        padding:5px 0 0 34px;
        height:20px;
    }
    span.menu-icon-edit-profile{
        @include retina-bg('/images/icon_edit' , 'png', 20px, 20px);
        background-color:transparent;
        background-position:0px 50%;
        background-repeat:no-repeat;
        padding:5px 0 0 34px;
        height:20px;
    }
    span.menu-icon-logout{
        @include retina-bg('/images/icon_logout' , 'png', 20px, 20px);
        background-color:transparent;
        background-position:0px 50%;
        background-repeat:no-repeat;
        padding:5px 0 0 34px;
        height:20px;
    }
    span.menu-icon-support{
        @include retina-bg('/images/icon_support' , 'png', 20px, 20px);
        background-color:transparent;
        background-position:0px 50%;
        background-repeat:no-repeat;
        padding:5px 0 0 34px;
        height:20px;
    }
    span.menu-icon-tos{
        @include retina-bg('/images/icon_tos' , 'png', 20px, 20px);
        background-color:transparent;
        background-position:0px 50%;
        background-repeat:no-repeat;
        padding:5px 0 0 34px;
        height:20px;
    }
}

div.edit-panel{
    a.no-mobile{
        position:absolute;
        width:90%;
        bottom:15px;
        display:block;
        text-align:center;
        font-weight:300 !important;
        font-size:14px !important;
    }
    span.ui-icon-arrow-r{
        display:none;
    }
    span.menu-icon-edit{
        @include retina-bg('/images/icon_rename' , 'png', 20px, 20px);
        background-color:transparent;
        background-position:0px 50%;
        background-repeat:no-repeat;
        padding:5px 0 0 34px;
        height:20px;
    }
    span.menu-icon-editlocation{
        @include retina-bg('/images/icon_editlocation' , 'png', 20px, 20px);
        background-color:transparent;
        background-position:0px 50%;
        background-repeat:no-repeat;
        padding:5px 0 0 34px;
        height:20px;
    }
    span.menu-icon-edittime{
        @include retina-bg('/images/icon_edittime' , 'png', 20px, 20px);
        background-color:transparent;
        background-position:0px 50%;
        background-repeat:no-repeat;
        padding:5px 0 0 34px;
        height:20px;
    }
    span.menu-icon-remove{
        @include retina-bg('/images/icon_remove' , 'png', 20px, 20px);
        background-color:transparent;
        background-position:0px 50%;
        background-repeat:no-repeat;
        padding:5px 0 0 34px;
        height:20px;
    }
}

h3.mtngs-firsth3{
    margin-top:0px;
}

#comments img{
    height:50px;
    width:50px;
}
.mtngs-profile-image{
    border:1px solid #ccc !important;
}

// material list text closer to icons
ul#material_list li a{
    padding-left:80px;
}

// Photo uploading
div.photo-upload{
    div.file-save-form{
        display:none;
        height:50px;
        div.left{
            float:left;
            width:68%;
            div.ui-input-text{
                margin-top:9px;
            }
        }
        div.right{
            float:right;
            width:30%;
        }
    }
}

// Commenting
div#comment-box{
    height:60px;
    div.left{
        float:left;
        width:75%;
        div.container{
            margin:8px 8px 8px 0px;
            padding:10px;
            border:1px solid silver;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            overflow:hidden;
            textarea#comment-input{
                display:block;
                font-size:16px;
                height:18px;
                width:100%;
                padding:10px;
                margin:-10px;
                resize:none;
                outline:none;
                border:none;
            }
        }
    }
    div.right{
        float:left;
        width:25%;
        a.send-comment{
            text-align:center;
            height:18px;
            margin:8px 0px 8px 8px;
            padding:10px;
            border:1px solid #ccc;
            display:block;
            text-decoration:none;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            border: 1px solid #50a4c3;
            background: #75ceeb;
            font-weight: bold;
            color: #ffffff;
            text-shadow: 0px 1px 0px #50a4c3;
            background-image: -webkit-gradient(linear, left top, left bottom, from( #6cdaf6 ), to( #63c1db ));
            background-image: -webkit-linear-gradient( #6cdaf6 , #63c1db );
            background-image:    -moz-linear-gradient( #6cdaf6 , #63c1db );
            background-image:     -ms-linear-gradient( #6cdaf6 , #63c1db );
            background-image:      -o-linear-gradient( #6cdaf6 , #63c1db );
            background-image:linear-gradient( #6cdaf6 , #63c1db );
        }
    }
}

// Edit meeting page
div.form-full-width {
    div.ui-input-text{
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        box-sizing: border-box; 
        /*padding-left:0px;*/
        /*padding-right:0px;*/
    }
    div.ui-input-text{
        width:100%;
        border: 1px solid silver;
        border-radius:4px;
        -webkit-border-radius:4px;
        -moz-border-radius:4px;
        padding:0 0.8em;
    }
    textarea.ui-input-text {
        width:100%;
        border: 1px solid silver;
        border-radius:4px;
        -webkit-border-radius:4px;
        -moz-border-radius:4px;
        padding:0 0.8em;
        padding-top: 0.8em;
    }
    p.separator{
        text-align:center;
        text-shadow: 0 1px 0 rgba(0,0,0,0.3);
        font-size:13px;
    }
}

// Edit meeting pages styles
div#edit-form {
    #date-selection {
        .ui-grid-a .ui-block-a { 
            width: 25%;
            line-height: 40px;
        }

        .ui-grid-a .ui-block-b { 
            width: 75%; 
            line-height: 40px;
        }
    }
}

// Add participant page
div#add-participant {
    #participant-name-wrapper {
        display: none;
    }
}

// Sign up page
div#signup-form {
    div.input-top div.ui-input-text {
        border-bottom-right-radius: 0px;
        -moz-border-radius-bottomright: 0px;
        -webkit-border-bottom-right-radius: 0px;
        
        border-bottom-left-radius: 0px;
        -moz-border-radius-bottomleft: 0px;
        -webkit-border-bottom-left-radius: 0px;
    }

    div.input-bottom div.ui-input-text {
        border-top-left-radius: 0px;
        -moz-border-radius-topleft: 0px;
        -webkit-border-top-left-radius: 0px;

        border-top-right-radius: 0px;
        -moz-border-radius-topright: 0px;
        -webkit-border-top-right-radius: 0px;
    }

    .ui-grid-a .ui-block-a { 
        width: 30%;
    }

    .ui-grid-a .ui-block-b { 
        width: 70%; 
    }

    div#profile-image {
        background-position: top left;
        background-color:transparent;
        background-repeat: no-repeat;
        background-color: #fff;
        width:70px;
        height:70px;
    }

    div#image-placeholder {
        visibility: hidden;
        background-position: 50% 8px;
        background-color:transparent;
        background-repeat: no-repeat;
        width:70px;
        height:70px;
        display:inline-block;
        @include retina-bg('/images/default_user_30', 'png', 30px, 30px);

        text-align: center;

        p {
            margin-top: 50px;
            font-size: 11px;
            color: #666;
            font-weight: bold;
        }

    }

    .tos-disclaimer {
        font-size:13px;
        color: #666;

        a {
            color: #666;
            text-decoration: underline;
            font-weight: normal;
        }
    }
}

// Calendar sync
div#calendar-sync {
    ol#calendar-access-steps {
    }
}

