h3 About
p  Meetin.gs is the smartest way to meet, online or face-to-face.
    | We put meetings on the cloud, accessible from any device.
    | To setup new meetings, go to www.meetin.gs on a desktop browser.

p
    a(href=desktop_link) Switch to desktop version
- if ( location.host.indexOf('dev') !== -1 )
    a.open-native(data-theme='b',data-role='button',href='#') Launch native app
a.logout(data-theme='b',data-role='button',href='#') Log Out
